{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        {% if form %}
<form id="dvsdeform" action="{% url match-de %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table id="dvsdeformtable">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Save" />
</form>
        {% endif %}
        <div id="alert-status" class="alert-status"></div>
<table class="table table-condensed" id="fde_list">
    <thead>
        <tr>
            <th>DHIS2 Element</th>
            <th>Formhub Form Field</th>
        </tr>
    </thead>
    <tbody id="fde_listbd">
    </tbody>
</table>
    {% if success %}
        {% trans "Successfully saved." %}
    {% endif %}
        <script type="text/javascript">
            $(document).ready(function(){
                var updateFDETable = function(data){
                    $('#fde_list tbody').html('');
                    $.each(data, function(key, value){
                        trow = "<tr><td>" + value.data_element__name;
                        trow += "</td><td>" + value.form_field;
                        trow += "</td></tr>"
                        $('#fde_list tbody').append(trow);
                    });
                };
                var reloadForm = function(){
                    if(this.value != ""){
                        url = '{% url match-de-form 0 %}'.replace(0, this.value)
                        $.get(url + '?dvs='+this.value, function(data){
                            $("#dvsdeformtable").html(data);
                            $("#id_dvs").on("change", reloadForm);
                        })
                    }
                };
                $("#id_dvs").on("change", reloadForm);
                $("#dvsdeform").on("submit", function(evt){
                    evt.preventDefault();
                    if($("#id_dvs").val() == "")
                        return;
                    $.post(this.action, $(this).serialize(), function(data){
                        data = $.parseJSON(data);
                        if(data.msg)
                            $("#alert-status").html(data.msg);
                        if(data.success)
                            $("#dvsdeform").each(function(){
                                this.reset();
                            });
                        if(data.fde_list)
                            updateFDETable(data.fde_list);
                    });
                });

            });
        </script>
{% endblock %}
