{% extends 'base.html' %}
{% load i18n %}

{% block content %}
{% if form %}
<form action="{% url fh-import %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Import" />
</form>
    {% if message %}
        <div class="alert-status">{{ message }}</div>
    {% endif %}
    {% if fhservice %}
        {% trans "Successfully imported" %} {{ fhservice }}: {{ fhservice.url }}.
    {% endif %}
{% endif %}

<table class="table table-condensed">
    <thead>
    <tr>
        <th>FormHub Form</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
    {% for fh in fhforms %}
    <tr>
        <td>{{ fh }}</td>
        <td>{{ fh.url }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}